@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
  }
body{
display: flex;
}
  .background-image{
    height: 100%;
    width: 51%;
  }
  .background-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    background-color:rgba(0, 0, 0, 0.5);
    height: 20%;
    width: 50.3%;
  }
  #logo-image{
    display:flex;
    align-items: center;
  }
  #logo{
    display: flex;
    align-items: center;
    top: 20%;
    height: 85%;
  }
  .logo-text{
    font-family: odin-font;
    display: flex;
    align-items: center;
    color: aquamarine;
    font-size: 90px;
  }
  .forms-container{
    background-color: aquamarine;
  }
  .header{
    padding: 60px;
  }
  .forms{
    background-color: bisque;
    display:flex;
    flex-wrap: wrap;
  }
  .input{
    border-radius: 10px;
    height: 25px;
  }
  .input:focus{

    border-color: 5px red;
    box-shadow: 5px 5px blue;
  }